#main {
    background-image: url("/imgs/bg2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/* #btn-buymeacoffee {
    position: absolute;
    right: 0;
    top: 0
} */

#calc-one {
    background-color: rgba(0, 0, 0, .3);
    padding-bottom: 4em;
}

#calc-two {
    background-image: url("/imgs/bg3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

#calc-two-bg {
    background-color: rgba(0, 0, 0, 0.1)
}